@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

.subhead{
    background-color: aliceblue;
    box-shadow: 0px 5px 5px gray;
}

li,
a,
button {
  color: white;
  background-color: none;
  text-decoration: none;
  font-size: 100%;
  font-weight: 200%;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #000;
  box-shadow: 0px 10px 10px grey;
}

.logo {
  cursor: pointer;
  height: 65px;
  width: 157px;
}

.Nav_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 30px;
}

.Nav_links a {
  display: inline-block;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  background-color: rgba(10, 158, 226, 0.76);
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  flex-grow: 1;
  text-align: center;
}

.Nav_links a:hover {
  color: rgb(237, 238, 238);
  background-color: rgba(10, 133, 190, 0.76);
}

body {
  width: 100%;
  background-color:
    rgb(155, 154, 154);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.grid-box {
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
}

.grid-box > div {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.514);
  word-break: break-word;
}

.grid-box > div {
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}

hr {
  height: .5%;
  border: none;
  background-color: rgba(10, 158, 226, 0.76);
  margin: 10px 0px;
}
.grid-box-2{
display: flex;
flex-direction: column;
}
